@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --max-width: 1550px;
    /* --primary: #ffb4dc; */
    /* --primary: #f3b05f; */
    --primary: #f7b262;
    /* --primary: #608887; */
    --secondary: #fff;
    --page-padding: 90px;

    @media (max-width: 768px) {
        --page-padding: 20px;
    }
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    color: #fff;
    background: #141414;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}
